.root {
	-fx-background-color: black;
	color-letra: white;
}

.label {
	-fx-text-fill: color-letra;
}

.error {
	-fx-text-fill: red;
}

.aceptar {
	-fx-text-fill: white;
	-fx-background-color: red;
	-fx-background-radius: 25pt;
}